<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Findo</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo-Beschreibung" class="mb-5">
        <form  action="{{ url_for('submit') }}" method="post">
            <div class="input-group">
                <input type="text" name="search_text" class="form-control rounded" id="search-input" placeholder="Search the web..." style="border: 1px solid #808080; border-radius: 15px; min-width: 30vw;">
            </div>
        </form>
    </div>
</body>
</html>