<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Findo</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo-Beschreibung" class="mb-5">
        <form method="post" id="search-form">
            <div class="input-group">
                <input type="text" name="search_term" class="form-control rounded" id="search-input" placeholder="Search the web..." style="border: 1px solid #808080; border-radius: 15px; min-width: 30vw;">
            </div>
        </form>
    </div>
</body>
</html>


<!--
<button type="submit" id="search-button" style="border: none; background: transparent; margin-left: 10px">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
</button>
-->
